<nav id="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/signup">Sign up</a></li>
        <li><a href="/login">Log in</a></li>
        <li><a href="/addcourse">Add Course</a></li>
        <li><a href="/courses">Index of Courses</a></li>
    </ul>
</nav>