<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheet.css">
    <title>School Courses</title>
</head>
<body>
    <h1>School Course Website</h1>
    <nav id="nav">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="addcourse.html">Add Course</a></li>
            <li><a href="signup.html">Sign up</a></li>
            <li><a href="/courses">Index of Courses</a></li>
        </ul>
    </nav>
    <h2>Add Course Page</h2>

    <div>
        <form action="/courses" method="POST">
            <label for="subject">Subject:</label>
            <input type="text" id="subject" name="subject" required>
            <label for="credits">Credit hours:</label>
            <input type="text" id="credits" name="credits" required>
            <label for="description">Course descripton:</label>
            <textarea name="description" id="description" cols="30" rows="10" required></textarea><br>
            <button>Add Me</button>
        </form>
    </div>


</body>
</html>
