<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>
    <h1>School Course Website</h1>

    <%- include('./partials/nav.ejs') %>

    <h2>Add Course Page</h2>

    <div>
        <form action="/courses" method="POST">
            <label for="subject">Subject:</label>
            <input type="text" id="subject" name="subject" required>
            <label for="credits">Credit hours:</label>
            <input type="text" id="credits" name="credits" required>
            <label for="description">Course descripton:</label>
            <textarea name="description" id="description" cols="30" rows="10" required></textarea><br>
            <button>Add Me</button>
        </form>
    </div>


</body>
</html>
