<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>
    <h1>School Course Website</h1>

    <%- include('./partials/nav.ejs') %>

    <h2>Welcome Students and Teachers!</h2>
    <p>Use this website for all your course related needs. Add courses to your shopping cart, post a new course, or simply just browse 
        whats available. 
    </p>
</body>
</html>
